# استبعاد ملفات بايثون المؤقتة
__pycache__/
*.pyc

# استبعاد ملفات وإعدادات النظام
Thumbs.db
Desktop.ini

# استبعاد سكربت التحديث التلقائي نفسه (إذا كنت لا تريد رفعه)
git_repo_updater.py
sound add.py
# استبعاد أي ملف نصي يحتوي على معلومات حساسة
discord.txt
*.log